.header {
  &__inner {
    background-color: var(--dark-col);
  }
  &__container {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--green-col);
  }
  &__list {
    display: flex;
    gap: 35px;
  }
  &__link {
    font-size: 1em;
    font-weight: 500;
    color: var(--white-col);
    padding: 5px 15px;
    border: 1px solid var(--white-col);
    border-radius: 20px;
    text-transform: uppercase;
    transition: color .3s ease, border .3s ease;
    &:hover {
      color: var(--green-col);
      border: 1px solid var(--green-col);
    }
    &--active {
      color: var(--green-col);
      border: 1px solid var(--green-col);
    }
  }
}
@media (max-width: 600px) {
  .header {
    &__inner {
      border-bottom: 1px solid var(--white-col);
    }
    &__container {
      padding: 8px 15px;
    }
    &__logo {
      & img {
        width: 50px;
        height: 50px;
      }
    }
    &__burger {
      display: block;
    }
    &__nav {
      display: none;
      &.active {
        position: fixed;
        top: 0; 
        right: 0;
        z-index: 9;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--overlay-col);
      }
    }
    &__list {
      flex-direction: column;
      text-align: center;
      padding: 40px;
    }
  }
}